POSTGRES_USER=devuser
POSTGRES_PASSWORD=devpass
POSTGRES_DB=suppsense
PGADMIN_EMAIL=you@example.com
PGADMIN_PASSWORD=your-actual-password
DATABASE_URL=postgres://devuser:devpass@postgres:5432/suppsense
MONGO_URL=mongodb://mongo:27017/suppsense
REDIS_URL=redis://redis:6379
SMTP_SERVER=
SMTP_USER=
SMTP_PASS=
JWT_SECRET= # use this to generate a JWT secret: echo "JWT_SECRET=$(openssl rand -hex 32)" >> ~/suppSense/.env